# IDEs
.idea/
*.code-workspace

# Package Managers
vendor/
node_modules/

# Misc.
.DS_Store/

# Build
/*.1
/drupal/
/ckan/
/solr/
/postgres/
/backup/
/nginx/
supervisord.log
/.docker.env
/.env
/.ssh/
drupal-local-settings.php
ckan.ini
pgrestore.log
/docker/config/nginx/certs/*.pem
/docker/config/solr/certs/*.pem
/docker/config/solr/certs/*.jks
/docker/config/solr/certs/*.p12